@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Betania+Patmos+GDL&family=Bitcount+Grid+Double:wght@100..900&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');
p{
  font-family: "Bitcount Grid Double", system-ui;
}

h1{
  font-family: "Bitcount Grid Double", system-ui;
}