/* <!-- 2)HTML-ში არის სამი div.
CSS-ში:

body ფონის ფერი იყოს ღია ყვითელი9ჩვეულებრივ წამოიღეთ სელექტორით როგროც სხვა თეგები)

ყველა div ჰქონდეს სიმაღლე 200px სიგანეც 200px და უკანა ფონის ფერი ყველას ქონდეს მწვანე,გამოიყენეთ br თეგები რომ გამოყოთ დივები ერთმანეთისგან --> */

body{
    color: yellow;
}
div{
    width: 200px;
    height: 200px;
    background-color: green;
}