@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Red Hat Display", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header{
    margin-top: 80px;
    width: 119px;
    height: 28px;
}

.intro{
    display: flex;
    width: 100%;
    margin-top: 61px;
    height: 358px;
    justify-content: space-between;
}

.intro-img1{
    transform: translateX(-40px);
}

.intro-img2{
    transform: translateX(40px);
}

.intro-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.intro-content h1{
    width: 445px;
    height: 128px;
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0px;
    text-align: center;
    color: #28283D;
}

.intro-content p{
    margin-top: 2px;
    width: 540px;
    height: 52px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #87879D;
    text-align: center;
}

.intro-btns{
    display: flex;
    gap: 16px;
    width: 348px;
    height: 58px;

}

.intro-btn1{
    width: 193px;
    height: 58px;
    border-radius: 29px;
    border: none;
    background-color: #4D96A9;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: white;
}

.intro-btn1 span{
    color: #8FE3F9;
}

.intro-btn2{
    width: 139px;
    height: 58px;
    border-radius: 29px;
    background-color: #855FB1;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: white;
    border: none;
}

.stick-on-circle1 {
    width: 56px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}

.stick{
    width: 1px;
    height: 84px;
    opacity: 0.25;
    background-color: #87879D;
}

.circle{
    border-radius: 29px;
    border: 1px #E1E1E7 solid;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
    z-index: 1;
}

.circle  p{
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #87879D;
}

.main-hero{
    display: flex;
    gap: 30px;
    margin-top: 64px;
}

.main-hero img{
    width: 255px;
    height: 242px;
    border-radius: 10px;
}

.desc{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 540px;
    height: 240px;
    gap: 16px;
}

.desc h6{
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #4D96A9;
}

.desc h2{
    width: 445px;
    height: 88px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0px;
    color: #28283D;
}

.desc p{
    margin-top: 16px;
    width: 500px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #87879D;
}

.stick-on-circle2 {
    width: 56px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
    position: absolute;
    top: 1350px;
}

footer{
    width: 100%;
    background-image:url(image-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 184px;
}

.footer-blend{
    padding-top: 116px;
    padding-bottom: 104px;
    background-color: rgba(77, 150, 169, 0.80);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.footer-content{
    display: flex;
    gap: 92px;
    width: 1110px;
    height: 88px;
    align-items: center;
    justify-content: center;
}

.footer-content h3{
    width: 350px;
    height: 88px;
    font-weight: 900;
    line-height: 44px;
    color: #FAFAFA;
    font-size: 40px;
    
}

.footer-content p{
    margin-left: 33px;
    width: 350px;
    height: 78px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #FAFAFA;
}

.footer-btn button{
    width: 193px;
    height: 58px;
    border-radius: 29px;
    background-color: #855FB1;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    border: none;
}

.footer-btn button span{
    color: #D9B8FF  ;
}