* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
  background-color: hsl(0, 0%, 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
.container {
  max-width: 1110px;
  width: 100%;
}
.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  flex-wrap: wrap;
}
.hero-text {
  max-width: 450px;
}
.hero-text h1 {
  color: hsl(300, 43%, 22%);
  font-size: 3.5rem;
  line-height: 0.9;
  margin-bottom: 25px;
}
.hero-text p {
  color: hsl(303, 10%, 53%);
  line-height: 1.6;
  font-weight: 500;
}
.ratings-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 540px;
}

.rating-bar {
  background-color: hsl(300, 24%, 96%);
  padding: 20px 30px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.stars img {
  margin-right: 8px;
}
@media (min-width: 1024px) {
  .rating-1 { align-self: flex-start; }
  .rating-2 { align-self: center; }
  .rating-3 { align-self: flex-end; }
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  height: 300px;
}
.card {
  background-color: hsl(300, 43%, 22%);
  color: hsl(0, 0%, 100%);
  padding: 40px;
  border-radius: 8px;
  height: fit-content;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user-info h2 {
  font-size: 15px;
}
.status {
  color: hsl(333, 80%, 67%);
}
.quote {
  line-height: 1.5;
  font-weight: 400;
}
