@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(220, 13%, 13%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding: 24px 0;
    border-bottom: 1px solid #e0e0e0;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 56px;
}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-links a {
  text-decoration: none;
  color: #69707d;
  font-size: 15px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.cart-icon {
  width: 22px;
  cursor: pointer;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 125px;
    width: 1015px;
    flex-grow: 1;
    padding: 90px 20px;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 445px;
}

.main-img {
    width: 100%;
    border-radius: 15px;
}

.thumbnails {
    display: flex;
    justify-content: space-between;
}

.thumb img{
    width: 88px;
    height: 88px;
    border-radius: 10px;
    
}

.thumbn img{
    width: 88px;
    height: 88px;
    border-radius: 10px;
    opacity: 0.3;
}

.thumbn{
    border: 3px hsl(26, 100%, 55%) solid;
    border-radius: 10px;
    width: 90px;
    height: 90px;
}

.thumb {
    width: 88px;
    height: 88px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}

.product-info {
    width: 445px;
}

.company-name {
    color: hsl(219, 9%, 45%);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
    display: block;
    margin-bottom: 25px;
}

h1 {
    font-size: 44px;
    line-height: 1.1;
    margin-bottom: 35px;
}

.description {
    color: hsl(219, 9%, 45%);
    line-height: 1.6;
    margin-bottom: 28px;
}

.price-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 35px;
}

.current-price {
    display: flex;
    align-items: center;
    gap: 15px;
}

.price {
    font-size: 28px;
    font-weight: 700;
}

.discount {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: 700;
}

.old-price {
    color: hsl(220, 14%, 75%);
    text-decoration: line-through;
    font-weight: 700;
}

.actions {
    display: flex;
    gap: 15px;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(223, 64%, 98%);
    width: 155px;
    height: 56px;
    border-radius: 10px;
    padding: 0 15px;
}

.counter button {
    background: none;
    border: none;
    color: hsl(26, 100%, 55%);
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

.add-btn {
    flex-grow: 1;
    background-color: hsl(26, 100%, 55%);
    color: white;
    border: none;
    border-radius: 10px;
    height: 56px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    box-shadow: 0 20px 50px -20px hsl(26, 100%, 55%);
}