* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 60px;
}
.nav-links a, .nav-auth a {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
  font-size: 16px;
  font-weight: 500;
  transition: color 0.2s;
}
.nav-links {
  display: flex;
  gap: 40px;
}
.nav-links img {
  margin-left: 8px;
}
.nav-auth {
  display: flex;
  gap: 40px;
  align-items: center;
}
.register {
  border: 2px solid hsl(0, 0%, 41%);
  padding: 12px 22px;
  border-radius: 14px;
}
.hero {
  display: flex;
  max-width: 1200px;
  margin: 40px auto;
  align-items: flex-end;
  padding: 0 40px;
  gap: 100px;
}

.hero-content {
  flex: 1;
  padding-bottom: 40px;
}

.hero-content h1 {
  font-size: 5rem;
  line-height: 1;
  margin-bottom: 40px;
  font-weight: 700;
}

.hero-content p {
  color: hsl(0, 0%, 41%);
  line-height: 1.6;
  max-width: 440px;
  margin-bottom: 50px;
}

.cta-btn {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  padding: 18px 30px;
  border-radius: 15px;
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 18px;
  border: 1px solid hsl(0, 0%, 8%);
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 80px;
}


.client-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 480px;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  width: 100%;
  display: block;
}

.mobile-img {
  display: none;
}

