/* თქვენი დავალებაა 5 ივე ავტომობილის სახელს ქონდეს განსხვავებული სილები,გამოიყენეთ ID ები */

#sia1{
    color: aqua;
}
#sia3{
    color: rgb(123, 214, 10);
}
#sia2{
    color: rgb(204, 0, 255);
}
#sia4{
    color: rgb(255, 0, 0);
}
#sia5{
    color: rgb(255, 213, 0);
}